html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

main{background-color: #FFCD29;}

img{
    max-width: 100%;
    height: auto;
}
/** Nav **/ 
header a{
    text-decoration: none;
    color: #5E5E5E;
}

/** colore nero per la pagina in cui si è - nav e footer**/
.nav-project{
    color: black;
}

.footer-project{
    color: black;
}

.nav-contact{
    color: black;
}

.footer-contact{
    color: black;
}

header a:hover{
    text-decoration: none;
    color: black;
}

/** logo **/
header h1{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size:large ;
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main, footer {
    margin: auto;
    padding: 20px;
}

/** Footer **/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

footer a{
    text-decoration: none;
    color: #5E5E5E;
}

footer a:hover{
    text-decoration: none;
    color: black;
}

/** Card **/
div.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 40px auto;
    gap: 35px;
}

/** Contact form**/
.main-form{background-color: #FFCD29;}
form { max-width:420px; margin:50px auto; }

.titolo-contact{
  text-align: center;
}

.feedback-input {
  color:black;
  font-family: 'Inter', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #EF401F; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
font-family: 'Inter', sans-serif;
  width: 100%;
  background:#F37158;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#EF401F; }



.card {
    position: relative;
    display: inline-block;
    margin: 10px;
    text-align: left;
    font-size: 16px;
  }
  
  .card *,
  .card:before,
  .card:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .card img {
    backface-visibility: hidden;
    vertical-align: top;
  }
  
  .card:before,
  .card:after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: '';
    background-color: #fff;
    z-index: 1;
    opacity: 0;
  }
  
  .card:before {
    width: 0;
    height: 1px;
  }
  
  .card:after {
    height: 0;
    width: 1px;
  }
  
  .card figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
  }
  
  .card h3,
  .card h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 0;
  }
  
  .card h4 {
    font-size: .8em;
    text-transform: uppercase;
  }
  
  .card a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .card:hover img,
  .card.hover img {
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
  }
  
  .card:hover:before,
  .card.hover:before,
  .card:hover:after,
  .card.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .card:hover:before,
  .card.hover:before {
    width: 40px;
  }
  
  .card:hover:after,
  .card.hover:after {
    height: 40px;
  }
  
  .card:hover h3,
  .card.hover h3,
  .card:hover h4,
  .card.hover h4 {
    opacity: 1;
  }
  
  .card:hover h3,
  .card.hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .card:hover h4,
  .card.hover h4 {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }

  img.img-project{
    max-width: 80%;
  }

  .img-container{
    text-align: center;
  }

  /** CTA **/
.button{
  align-items: center;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  transition-duration: 0.4s;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 16px;
  cursor: pointer;
}

.cta{
  text-align: center;
  margin-bottom: 100px;
}
